cxfcontracfirst-stubs/src/main/resources/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerServiceService" targetNamespace="http://com.abhi.cxfdemo/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.abhi.cxfdemo/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://com.abhi.cxfdemo/"
                        schemaLocation="customer.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCustomersByNameResponse">
        <wsdl:part name="parameters" element="tns:getCustomersByNameResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="updateCustomerResponse">
        <wsdl:part name="parameters" element="tns:updateCustomerResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getCustomersByName">
        <wsdl:part name="parameters" element="tns:getCustomersByName">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateCustomer">
        <wsdl:part name="parameters" element="tns:updateCustomer">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="NoSuchCustomerException">
        <wsdl:part name="NoSuchCustomerException" element="tns:NoSuchCustomer">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomerService">
        <wsdl:operation name="updateCustomer">
            <wsdl:input name="updateCustomer" message="tns:updateCustomer">
            </wsdl:input>
            <wsdl:output name="updateCustomerResponse" message="tns:updateCustomerResponse">
            </wsdl:output>
            <wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomersByName">
            <wsdl:input name="getCustomersByName" message="tns:getCustomersByName">
            </wsdl:input>
            <wsdl:output name="getCustomersByNameResponse" message="tns:getCustomersByNameResponse">
            </wsdl:output>
            <wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerServiceServiceSoapBinding" type="tns:CustomerService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateCustomer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateCustomer">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCustomersByName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCustomersByName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCustomersByNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NoSuchCustomerException">
                <soap:fault name="NoSuchCustomerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerServiceService">
        <wsdl:port name="CustomerServicePort" binding="tns:CustomerServiceServiceSoapBinding">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
